.background {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    display: inline-block;
    margin: 0px;
    width: 80px;
    height: 80px;
    font-size:50px;
    background-color: greenyellow;
    border: 1px solid black;
}

.white {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size:50px;
    background-color: white;
    border: 1px solid black;
}

img {
    width: 80px;
    height: 80px;
}
